#Dossiers de compilation CMake
cmake-build-debug/
cmake-build-release/
cmake-build-*/
build/
bin/
lib/
_deps/

#Fichiers temporaires CMake
CMakeCache.txt
CMakeFiles/
Makefile
*.cmake
*.ninja
install_manifest.txt

#Config de l'IDE (CLion / IntelliJ)
#Réglages perso
.idea/

#Fichiers binaires et objets compilés
*.o
*.obj
*.exe
*.dll
*.so
*.dylib
*.a
*.lib

#Fichiers générés par le projet
*_out/
*.log

#Fichiers système Windows/Mac
.DS_Store
Thumbs.db
Desktop.ini

# --- Fichiers de configuration utilisateur (Bonus Robustesse) ---
# On ne veut pas partager la vitesse de jeu perso sur Git
config.txt
